@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stock-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .stock-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .stock-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ff9eac;
    width: 5px;
    border-radius: 10px;
  }
  .stock-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #FF6B81;
  }
}